<form>
  <div class="form-group">
    <label for="text">Enter Text Here</label>
    <textarea class="form-control" id="text" rows="10"></textarea>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>

<footer class="footer">
  <div class="container">
    <p>Created By: Cara Adelson, Jacob Artz, Jamie DeHaan, Stephen Michael & Tyler Winstead</p>
  </div>
</footer>